# http://editorconfig.org

# A special property that should be specified at the top of the file outside of
# any sections. Set to true to stop .editor config file search on current file

root = true

[*]

# Indentation style

indent_style = space

# Indentation size in single-spaced characters

indent_size = 2

# Line ending file format

end_of_line = lf

# File character encoding

charset = utf-8

# Denotes whether to trim whitespace at the end of lines

trim_trailing_whitespace = true

# Denotes whether file should end with a newline

insert_final_newline = true
