@keyframes scaling {
  from {
    scale: 1;
  }

  to {
    scale: 1.5;
  }
}

@keyframes sparking {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.like-icon.is-liked {
  animation: scaling 0.3s 0.1s ease-in 1 alternate;
}

.like-icon.is-liked .like-icon__sparks {
  animation: sparking 0.3s 0.3s ease-in 1 alternate;
}
