.page {
  color: var(--accent-color, #000);
  font-family: 'Inter-Variable', sans-serif;
  font-size: 18px;
  line-height: 117%;
  background-color: var(--background-color, #fff);
  background-image: repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(#e7e7e7, #e7e7e7 0.01%, #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: var(--content-min-width);
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--default-font-weight);
}

.page__content {
  margin-inline: auto;
  max-inline-size: clamp(
    var(--content-min-width),
    49%,
    var(--content-max-width)
  );
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block: 100px;
  border: var(--default-border);
  padding-block: clamp(120px, 7.3239rem + 0.7512vw, 128px);
  font-family: var(--accent-font), monospace;
  font-weight: var(--default-font-weight);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--background-color, #fff);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 100%;
}

.header__accent {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 100%;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  border: var(--default-border);
  background-color: var(--background-color, #fff);
}

.card__title {
  padding: 5px 10px 3px;
  font-size: inherit;
  line-height: 121%;
  font-variation-settings: 'wght' var(--title-font-weight);
}

.figure {
  display: grid;
  margin: 0;
  padding: 0;
}

.card__figure {
  border-top: var(--default-border);
  border-bottom: var(--default-border);
}

.figure__picture {
  grid-area: 1/1;
}

.figure__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.filter-blur {
  filter: blur(0.4rem);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-opacity {
  filter: opacity(0.6);
}

.filter-hue {
  filter: hue-rotate(-200deg);
}

.filter-saturate {
  filter: saturate(158%);
}

.filter-invert-saturate {
  filter: invert(0.7) saturate(110%);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-contrast {
  filter: contrast(120%);
}

.figure__caption {
  z-index: 1;
  grid-area: 1/1;
  padding: 25px clamp(13px, 0.5484rem + 1.1268vw, 25px);
  opacity: 0.5;
  font-family: var(--accent-font), monospace;
  font-size: var(--secondary-text-size);
  line-height: 100%;
  text-align: end;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  background-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .figure__caption {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

.card__actions {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
  padding: 0 25px 25px;
}

.card__icon-button {
  border: none;
  padding: 0;
  outline: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  block-size: 34px;
  inline-size: auto;
}

.card__icon-button:focus {
  outline-color: transparent;
}

.card__icon-button:focus-visible {
  outline-color: var(--accent-color, #000);
}

.like-icon {
  inline-size: 37px;
  block-size: 34px;
}

.like-icon__sparks {
  opacity: 0;
}

.like-icon:hover .like-icon__core {
  fill: currentColor;
}

.like-icon:active .like-icon__core,
.like-icon.is-liked .like-icon__core {
  fill: var(--heart-color, red);
}

.like-icon:hover .like-icon__main-body {
  fill: currentColor;
}

.like-icon:active .like-icon__main-body,
.like-icon.is-liked .like-icon__main-body {
  fill: var(--heart-color, red);
}

.like-icon.is-liked .like-icon__contour {
  fill: var(--heart-color, red);
}

.button {
  position: relative;
  border: 2px solid var(--accent-color, #000);
  padding-block: 10.5px;
  color: #fff;
  font-family: var(--accent-font), monospace;
  font-size: var(--secondary-text-size);
  background-color: var(--background-color, #fff);
  cursor: pointer;
  min-inline-size: 130px;
}

.button__text {
  position: relative;
  z-index: 1;
  line-height: 90%;
  mix-blend-mode: difference;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color, #000);
}

.button:hover,
.button:active {
  color: #fff;
}

.button:after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  display: block;
  background-color: var(--accent-color, #000);
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover:after,
.button:active:after {
  transform: scaleX(1);
}

.actions {
  padding: 50px 34px 100px;
  text-align: center;
}

.button_save {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-inline: auto;
  padding-block: 14px;
  min-inline-size: clamp(308px, 18.5458rem + 3.0047vw, 340px);
}

.save-icon {
  position: relative;
  z-index: 1;
  max-inline-size: max(calc(28px - (1 / 4.14 * (100% - 290px))), 21px);
  aspect-ratio: 1/1;
  mix-blend-mode: difference;
}

.dialog {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: var(--default-border);
  padding-inline: min(
    40px,
    max(calc(40px - (1 / 88.75 * (100% - 375px))), 28px)
  );
  padding-block: 28px;
  text-transform: uppercase;
  max-inline-size: clamp(341px, 21.0484rem + 1.1268vw, 353px);
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__text {
  display: flex;
  gap: 20px;
  font-family: var(--accent-font), monospace;
  font-size: var(--secondary-text-size);
  line-height: 150%;
}

.dialog__icon {
  flex-shrink: 0;
  inline-size: 39px;
  aspect-ratio: 1/1;
}

.dialog__button {
  text-transform: inherit;
  inline-size: 100%;
}
